<div class="face-snap-card"[ngClass]="{snapped:snapStatus}">
  <h2>{{ facesnap.title | titlecase }}</h2>
  <p>{{ facesnap.description }}</p>
  <button (click)="onViewFaceSnap()" >VIEW</button>
</div>



<!--
    # Number Pipe changer
  <p>{{ 4346234.36 | number: '1.0-1' }}</p>
    # percentage Pipe Changer
  <p>{{ 0.336 | percent: '1.0-1' }}</p>
    # Currency/money Pipe Changer
  <p>{{ 344.36 | currency: 'EUR' : 'code' }}</p>
 -->
  <!-- # Changer la Case
  <h2>{{ facesnap.title | uppercase }}</h2>
  <h2>{{ facesnap.title | lowercase }}</h2>
  -->

  <!-- # Formatez les dates
  <p>Mis en ligne le {{ facesnap.createdDate | date: 'longDate' }}</p>
  <p>Mis en ligne le {{ facesnap.createdDate | date:'medium' }}</p>
  -->
